.menu_link li a{
    position: relative;
}
.menu_link li a::before{
    position: absolute;
    content:"";
    width:0%;
    height:2px;
    background-color:#262626;
    bottom:-4px;
    left:0;
    transition:0.5s;
    cursor: pointer;
}
.menu_link li a:hover::before{
    width:50%;
}
