.see_btn{
    position: relative;
}
.see_btn::before{
    position: absolute;
    content:"";
    left:0;
    bottom:-5px;
    width:10%;
    height:2px;
    background-color:#262626;
    
    transition:0.5s;
}
.see_btn:hover::before{
    width:25%;
}
.see_btn3{
    position: relative;
}
.see_btn3::before{
    position: absolute;
    content:"";
    left:0;
    bottom:-5px;
    width:10%;
    height:2px;
    background-color:#fff;
    
    transition:0.5s;
}
.see_btn3:hover::before{
    width:25%;
}